@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #464646;
}

body {
  background-color: #FCBE85;
}

.container {
  position: relative;
  max-width: 480px;
  width: 100%;
  border-radius: 8px;
  padding: 25px;
  margin: 85px auto 0;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container .input-field {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center; 
  height: 50px;
  width: 100%;
}

input::placeholder {
  text-align: center;
  line-height: 50px;
}

.input-field textarea {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  padding: 10px 35px 10px 10px;
  border: 1px solid #ccc;
  
}

.input-field textarea:focus {
  border-color: #FCBE85;
}

textarea::-webkit-scrollbar {
  display: none;
}

.input-field .note-icon {
  position: absolute;
  top: 50%;
  right: 75px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 24px;
  color: #707070;
}

.input-field .add-button {
    padding: 6px 12px;
    outline: none;
    border: none;
    background: #fca452;
    color: #fff;
    height: 50px;
    font-size: 15px;
    border-radius: 8px;
    white-space: nowrap;
}

.add-button:hover {
  background: #fb8c24;
  cursor: pointer;
}

.input-field textarea:focus ~ .note-icon {
  color: #fa9f49;
}

.container .todoLists {
  max-height: 380px;
  overflow-y: auto;
  /* margin-top: 20px; */
  padding-right: 10px;
}

.todoLists .list {
  display: flex;
  align-items: center;
  list-style: none;
  background-color: #ffebd8;
  padding: 20px 15px;
  border-radius: 8px;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
}

.todoLists .list input {
  height: 16px;
  min-width: 16px;
  accent-color: #FCBE85;
  pointer-events: none;
}


.todoLists .list .task {
  margin: 0 30px 0 15px;
  word-break: break-all;
}

.list input:checked ~ .task{
  text-decoration: line-through;
}

.todoLists .list i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
  padding: 5px;
  opacity: 0.6;
  display: none;
}

.todoLists .list:hover i {
  display: inline-flex;
} 

.todoLists .list i:hover {
  opacity: 1;
}

.container .pending-tasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.pending-tasks span {
  color: #707070;
}

.pending-tasks .clear-button {
  padding: 6px 12px;
  outline: none;
  border: none;
  background: #fff;
  color: #f89a43;
  font-size: 14px;
  cursor: pointer;
  pointer-events: none;
  white-space: nowrap;
}

.clear-button:hover {
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  .container {
    padding: 25px;
    margin: 85px 20px 0;
    width: calc(100% - 40px);
   
  }

  .input-field textarea {
    font-size: 16px;
  }

  .pending-tasks span {
    font-size: 14px;
  }
}

@media screen and (max-width: 350px) {
  .container {
    padding: 25px 10px;
    
  }

  .input-field textarea {
    font-size: 15px;
  }
}